/* css/style.css */

body {
  font-family: Arial, sans-serif;
  background-color: #A9A9A9; /* warna biru muda */
  margin: 0;
  padding: 0;
  color: #333;
}

header {
  background-color: #00FFFF; /* hijau */
  color: white;
  padding: 20px 0;
  text-align: center;
}

main {
  padding: 20px;
  text-align: center;
}

main img {
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

footer {
  background-color: #222;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  font-size: 14px;
}

